.homeAdmin-warper{
    display: flex;
   align-items: center;
justify-content: center;
margin-top: 100px;
margin-bottom: 30px;}

.vacaitionCard-warper{
    display: flex;
    flex-direction: row;
    align-items: center;
 justify-content: center;
}

.edit-warper{
    display: flex;
    flex-direction: row; 
}